<div id="footer_Box">
    <p> &copy; All rights reserved</p>
</div>

<style>
    #footer_Box {
        background-color: #f1f1f1;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer_Box p {
        font-size: 20px;
    }
</style>