<div
  class="modal-wrapper items-center justify-center min-h-screen hidden place-items-center opacity-0 transition-opacity duration-300 ease-in-out fixed bg-black bg-opacity-50 w-full h-full z-50 overflow-auto left-0 top-0"
>
  <div
    class="modal flex flex-col gap-6 relative p-5 pt-14 justify-between rounded-2xl border border-black border-solid mx-auto my-[14%] w-full bg-white transform scale-95 transition-transform duration-300 ease-in-out md:w-2/3 md:p-8 md:pt-14 md:flex-row md:container lg:p-20 md:gap-4 md:my-auto"
  >
    <button
      class="close absolute top-3 right-5 bg-transparent border-none text-black text-3xl cursor-pointer md:top-4"
      >&times;</button
    >

    <div class="description w-full md:max-w-[50%] lg:max-w-[70%]">
      <div>
        <input
          type="text"
          class="text-3xl w-full text-black mb-4"
          id="title"
          placeholder="Title"
        />
      </div>
      <p
        class="text-black px-2 py-0.5 text-lg rounded-md border border-black min-h-[200px] rounded-md focus:bg-[#F0F0F0]"
        id="description"
        contenteditable="true"
      >
      </p>
    </div>
    <div class="menu flex flex-col">
      <div class="status w-full flex items-center pb-4">
        <p class="pr-4 text-black">Status:</p>
        <select
          id="taskStatus"
          name="taskStatus"
          class="p-1 rounded focus:outline-none"
        >
        </select>
      </div>
      <div>
        <button id="deleteButton" class="text-red-600"> Delete </button>
      </div>
    </div>
  </div>
</div>

<script>
  import { TaskContext } from "../lib/taskStore";
  import { TaskModalContext } from "../lib/taskModalStore";

  const taskModalContext = TaskModalContext.getInstance();
  const taskContext = TaskContext.getInstance();

  function updateModal() {
    const modalWrapper = document.querySelector(".modal-wrapper");
    if (!modalWrapper) return;
    const isOpen = taskModalContext.getIsOpen();

    if (isOpen) {
      modalWrapper.classList.remove("hidden");
      modalWrapper.classList.add("flex");
      //@ts-ignore
      void modalWrapper.offsetWidth;
      modalWrapper.classList.add("opacity-100");
      modalWrapper.classList.add("scale-100");
      modalWrapper.setAttribute(
        "column-label",
        taskModalContext.getColumnLabel()
      );
      modalWrapper.setAttribute("task-id", taskModalContext.getTaskId());
      document.body.style.overflow = "hidden";
      addCloseListeners();
      setUpModalContent();
    } else {
      modalWrapper.classList.remove("opacity-100");
      modalWrapper.classList.remove("scale-100");
      setTimeout(() => {
        modalWrapper.classList.add("hidden");
      }, 300);

      document.body.style.overflow = "";
      removeCloseListeners();
    }
  }

  function setUpModalContent() {
    const title = document.getElementById("title") as HTMLInputElement;
    const description = document.getElementById("description");
    const columnLabel = taskModalContext.getColumnLabel();
    const task = taskContext.getTask(
      parseInt(taskModalContext.getTaskId()),
      columnLabel
    );

    if (title) title.value = task?.title || "";
    if (description) description.innerHTML = task?.description || "";

    setupStatusSelect();

    // Event listeners
    title?.addEventListener("blur", () => {
      taskContext.editTask(
        taskModalContext.getColumnLabel(),
        parseInt(taskModalContext.getTaskId()),
        title?.value || "",
        description?.innerHTML || ""
      );
    });

    title?.addEventListener("keydown", (event) => {
      if (event.key === "Enter") {
        event.preventDefault();
        title.blur();
      }
    });

    description?.addEventListener("blur", () => {
      taskContext.editTask(
        taskModalContext.getColumnLabel(),
        parseInt(taskModalContext.getTaskId()),
        title?.innerHTML || "",
        description?.innerHTML || ""
      );
    });

    description?.addEventListener("keydown", (event) => {
      if (event.key === "Enter") {
        event.preventDefault();
        description.blur();
      }
    });

    // Delete button
    const deleteButton = document.getElementById("deleteButton");
    if (deleteButton) {
      deleteButton.addEventListener("click", () => {
        if (confirm(`Are you sure you want to delete task "${title.value}"?`)) {
          taskContext.deleteTask(
            parseInt(taskModalContext.getTaskId()),
            taskModalContext.getColumnLabel()
          );
          closeModal();
        }
      });
    }
  }

  function setupStatusSelect() {
    // Set status
    const statusSelect = document.getElementById("taskStatus");
    if (statusSelect) statusSelect.innerHTML = "";

    const statusOptions = taskContext.getLabels();
    statusOptions.splice(
      statusOptions.indexOf(taskModalContext.getColumnLabel()),
      1
    );
    statusOptions.unshift(taskModalContext.getColumnLabel());
    if (statusSelect) {
      statusOptions.forEach((option) => {
        const optionEl = document.createElement("option");
        optionEl.value = option;
        optionEl.textContent = option;
        statusSelect.appendChild(optionEl);
      });
    }

    statusSelect?.addEventListener("change", (event) => {
      const target = event.target as HTMLSelectElement;
      if (target.value === taskModalContext.getColumnLabel()) return;

      taskContext.updateTaskLabel(
        parseInt(taskModalContext.getTaskId()),
        taskModalContext.getColumnLabel(),
        target.value
      );
    });
  }

  function closeModal() {
    taskModalContext.closeModal();
  }

  function addCloseListeners() {
    const modalWrapper = document.querySelector(".modal-wrapper");
    const closeButton = document.querySelector(".close");

    if (modalWrapper) {
      modalWrapper.addEventListener("click", handleOutsideClick);
    }
    if (closeButton) {
      closeButton.addEventListener("click", closeModal);
    }
  }

  function removeCloseListeners() {
    const modalWrapper = document.querySelector(".modal-wrapper");
    const closeButton = document.querySelector(".close");

    if (modalWrapper) {
      modalWrapper.removeEventListener("click", handleOutsideClick);
    }
    if (closeButton) {
      closeButton.removeEventListener("click", closeModal);
    }
  }

  function handleOutsideClick(event: Event) {
    if (
      event.target &&
      (event.target as HTMLElement).classList.contains("modal-wrapper")
    ) {
      closeModal();
    }
  }

  taskModalContext.addListener(updateModal);
</script>
