---
interface Todo {
  id: number;
  label: string;
  title: string;
  description: string;
}

const { todos = [] }: { todos: Todo[] } = { todos: [], ...Astro.props };
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

  .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .title {
    font-size: 1.5em;
    font-weight: 700;
  }

  .todo-list {
    background-color: #f9f9f9;
    padding: 16px;
    border-radius: 8px;
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 8px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;
    animation-delay: calc(var(--card-index) * 0.1s);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .card-title {
    font-size: 1em;
    margin-bottom: 4px;
    font-weight: 700;
  }

  .card-description {
    color: #555;
    font-weight: 400;
    font-size: 0.9em;
  }

  .label {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }

  .label div {
    font-size: 0.8em;
  }

  .label-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .label-circle.design-system {
    background-color: green;
  }

  .label-circle.typography {
    background-color: rgb(247, 158, 173);
  }

  @media (max-width: 600px) {
    .card {
      padding: 6px;
    }

    .card-title {
      font-size: 0.9em;
    }
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>

<div class="container">
  <div class="header">
    <div class="title">TODO</div>
  </div>
  <div class="todo-list">
    {
      todos.map((todo, index) => (
        <div class="card" style={{ "--card-index": index }}>
          <div class="label">
            <div
              class={`label-circle ${todo.label.toLowerCase().replace(" ", "-")}`}
            />
            <div>{todo.label}</div>
          </div>
          <div class="card-title">{todo.title}</div>
          <div class="card-description">{todo.description}</div>
        </div>
      ))
    }
  </div>
</div>
